.header {
    height: 70px;
    box-shadow: 0 0 10px rgb(116 97 195 / 26%);
    padding: 0 10px 10px;

  }

.logo {
    width: 70px;
}

.logoutButton {
    color:black;
    background: white;
    border: 2px solid #8a99ed;
    border-radius: 5px;
}
